.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*background-color: rgb(28, 218, 240) ;*/
  /*background-color: #00bef2;*/
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.25em;
  /*font-family: "Times New Roman", Times, serif;*/
  /*font-family: Comfortaa;*/
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
